.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100%;
    box-sizing: border-box;

    &__logo{
        margin-bottom: 2rem;

        @media (min-width: 630px) {
            max-width: 1200px;
        }
    }
}